.swiper {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.swiper-wrapper {
  align-items: stretch;
}

/* smooth continuous motion */
.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide {
  height: auto;
}


.toppers-section {
  background: linear-gradient(#97baf5 0%, #93a6e4 50%, #3b82f6 100%);
  padding: 70px 20px;
  color: #fff;
}

.toppers-container {
  max-width: 1200px;
  margin: auto;
}

.toppers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.toppers-title {
  text-align: center !important;
  font-size: 34px;
  font-weight: 700;
}

.view-all-btn {
  background: #f97316;
  border: none;
  padding: 10px 18px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.topper-card {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.topper-img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  display: block;   /* IMPORTANT */
}

.play-btn {
    background: #959595e6;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topper-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
  display: flex;
  justify-content: flex-end; /* move content to right */
}

.percentile {
  color: #fde047;
  font-weight: 800;
  font-size: 22px;
}

.name {
  font-size: 14px;
  margin-top: 4px;
  font-weight: 800;
}


/* VIDEO MODAL */
.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.video-content {
  width: 90%;
  max-width: 800px;
  aspect-ratio: 16/9;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
}

.video-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* CBSE Badge */
.cbse-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ef4444;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  padding: 6px 10px;
  border-radius: 20px;
  z-index: 2;
  letter-spacing: 0.5px;
}

/* Overlay Row Layout */
.overlay-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Percentile on Right */
.percentile {
  color: #fde047;
  font-weight: 800;
  font-size: 18px;
}

@media (max-width: 768px) {
  .toppers-title {
    font-size: 28px;
  }
}
